<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAEA.Properties.Settings.SAEA_Banco_ConnectionString" connectionString="Data Source=|DataDirectory|\SAEA(Banco).sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
